.gamepadlibrary_GamepadLibrary_ZBBhe {
	background-image: url(https://i.postimg.cc/3wmVWbJP/Retrowave-Arcadia-1.webp);
}
.gamepadtabbedpage_TabContentsScroll_1X4dt
{
	background-image: url(https://i.postimg.cc/3wmVWbJP/Retrowave-Arcadia-1.webp);
}